@import "tailwindcss";

body {
  margin: 0;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
nav {
  background-color: #111;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}
footer {
  background-color: #111;
  color: white;
  padding: 1rem;
  justify-content: center;
}