@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --carousel-speed: 20s;
  --carousel-gap: 4rem;
  --carousel-padding: 3.75rem;
  --logo-width: 10rem;
  --gradient-width: 15%;
}

@media (max-width: 768px) {
  :root {
    --carousel-padding: 2rem;
    --logo-width: 6rem;
    --carousel-gap: 2rem;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

nav {
  background-color: #222;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.hero-section {
  background: transparent;
  color: white;
  text-align: center;
  padding: 2rem;
  max-width: 100%;
}

.about-section {
  color: white;
  padding: 2rem 1rem;
  border-radius: 8px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .hero-section {
    padding: 3rem 2rem;
  }
  
  .about-section {
    padding: 3rem 2rem;
  }
}
.carousel {
  position: relative;
  padding-block: var(--carousel-padding);
  display: flex;
  column-gap: var(--carousel-gap);
  overflow-x: hidden;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
  min-height: auto;
  width: 100%;
  max-width: 100vw;

  .logos {
    display: flex;
    column-gap: var(--carousel-gap);
    animation: scroll var(--carousel-speed) linear infinite;
    will-change: transform;

    img {
      width: var(--logo-width);
      height: var(--logo-width);
      object-fit: contain;
      transition: scale 0.3s;
      user-select: none;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &:hover .logos {
    animation-play-state: paused;
  }
}

@media (max-width: 640px) {
  .carousel {
    padding-block: 1.5rem;
    
    .logos img {
      width: 4rem;
      height: 4rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--carousel-gap)));
  }
}

.proyectos-section {
  color: white;
  padding: 2rem 1rem;
  max-width: 100%;
}

.contact-section {
  color: white;
  padding: 2rem 1rem;
  max-width: 100%;
}

footer {
  background-color: #111;
  color: white;
  padding: 1rem;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .proyectos-section {
    padding: 3rem 2rem;
  }
  
  .contact-section {
    padding: 3rem 2rem;
  }
}