@import "tailwindcss";

body {
  margin: 0;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
nav {
  background-color: #222;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}
.hero-section {
  background: transparent;
  color: white;
  text-align: center;
  padding: 2rem;
}
.about-section {
 
  color: white;
  padding: 2rem;
  border-radius: 8px;
}
footer {
  background-color: #111;
  color: white;
  padding: 1rem;
  justify-content: center;
}
